body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

.form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

.form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}
