body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
    transition: width 0.3s ease; 
}

.container.expanded {
    width: 100%;
}

h1, h2 {
    color: #333;
    text-align: center;
}

.input-section {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.table-section {
    margin-top: 20px;
    text-align: center; 
}

.table-section h3 {
    color: #565454; 
    font-size: 0.9em; 
    margin-top: -10px; 
}

#tablesContainer {
    width: 90%;  
    margin: 0 auto;
    text-align: center;
}

table {
    width: 40%; 
    border-collapse: collapse;
    margin: 0 auto 20px auto; 
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 4px; /* Reduce padding */
    text-align: left;
    font-size: 0.77em; /* Reduce font size */
}

th {
    background-color: #f2f2f2;
}

.message {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.advice-section {
    text-align: left;
    color: #333; 
    margin-top: 20px;
    font-size: 1em; 
}

.advice-container {
    width: 80%; 
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}
.selected-row {
    border: 2px solid green;
}
