<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tax Data Details</title>
    <link rel="stylesheet" href="/static/css/tables.css">
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="/static/js/tables.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">new submission</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Tax Data Details</h1>
        <div class="table-section">
            <h2>Person and Tax Details</h2>
            <div id="tablesContainer"></div> 
        </div>
        <div id="message" class="message"></div>
        <div class="advice-section">
            <h2>Financial Advice</h2>
            <div class="advice-container">
                <div id="advice" class="advice"></div>
            </div>
        </div>
    </div>
    <div id="spinnerContainer" class="spinner-container">
        <div class="spinner"></div>
    </div>
</body>
</html>
